#Landing {
  height: 100%;
  width: 100%; }
  #Landing .landing-content {
    padding-top: 200px; }

.banner-container {
  background: url("../../assets/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px; }
