#Landing {
  height: 100%;
  width: 100%; }

.landing-content {
  height: 100%;
  width: 100%;
  padding-top: 100px;
  background-color: yellow; }

.banner-container {
  background: url("../../assets/banner.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px; }
